{
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "project": "./tsconfig.json"
    },    
    "env": {
        "browser": true,
        "es6": true,
        "node": true
    },
    "extends": [
        "airbnb",
        "airbnb/hooks",
        "airbnb-typescript",
        "plugin:prettier/recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "plugins": ["@typescript-eslint"],
    "rules": {
        "react/jsx-filename-extension": [
            1,
            { "extensions": [".js", ".jsx", ".ts", ".tsx"] }
        ],
        "react/function-component-definition": [
            2,
            { "namedComponents": "arrow-function" }
        ],
        "react/prop-types": 0,
        "import/no-unresolved": "off",
        "import/no-cycle": "off",
        "no-param-reassign": "off",
        "no-use-before-define": "off",
        "@typescript-eslint/no-use-before-define": "off",    
        "react/react-in-jsx-scope" : "off",
        "import/prefer-default-export" : "off", 
        "react/jsx-props-no-spreading" : "off",  
        "prettier/prettier": [
            "error",
            {
                "singleQuote": true,
                "parser": "flow",
                "endOfLine": "auto"
            }
        ]
    }    
}