{
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint"],
    "extends": [
        "plugin:@typescript-eslint/recommended",
        "airbnb",
        "airbnb/hooks",
        "airbnb-typescript",
        "prettier"
    ],
    "parserOptions": {
        "project": "./tsconfig.json"
    },
    "rules": {
    //   "jsx-quotes": ["error", "prefer-single"],
    //   "quotes": ["error", "single", { "avoidEscape": true}],
    //   "prettier/prettier": ["error", {"singleQuote": true, "parser": "flow"}],
      "react/react-in-jsx-scope": "off",
      "@typescript-eslint/no-use-before-define": "off",
      "import/prefer-default-export" : "off",
      "react/function-component-definition" : "off",
      "arrow-body-style" : "off"
    }
}