{
    "printWidth": 100,
    "singleQuote": true,
    "jsxSingleQuote": true,      
    "semi": true,
    "trailingComma": "all",
    "tabWidth": 2,
    "useTabs": false,
    "arrowParens": "always",
    "bracketSpacing": true
}
  